body {
  
  font-family: Ubuntu;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 58px;
  margin: 53px 10% 117px 10%;
  max-width: 1181px;
}
.logo-container {
  display: flex;
  gap: 25px;
}
.list-container {
  display: flex;
  list-style: none;
  gap: 37px;
  
}
a {
  text-decoration: none;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
}
.nav-button {
  border: none;
  background: #5528ff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  width: 100px;
  height: 24px;
  color: #ffffff;
}
.content {
  
  width: 70%;
  margin: 117px 10% 117px 10%;
}
.text {
  width: 1185px;
  height: 66px;
  left: calc(50% - 1185px / 2 + 2.5px);
  top: 228px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 65px;

  text-align: center;

  color: #202020;
}

p {
  max-width: 741px;
  height: 196px;
  left: calc(50% - 741px / 2 - 219.5px);
  top: 329px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 51px;
  color: #4f4f4f;
  margin-top: 35px;
}
.content-btn {
  width: 235px;
  height: 60px;
  left: calc(50% - 235px / 2 - 473.5px);
  top: 595px;
  background: #5528ff;
  border-radius: 10px;
  width: 235px;
  height: 60px;
  left: calc(50% - 119px / 2 - 473.5px);
  top: 611px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 70px;
}

.spliter {
  display: flex;
  
}
.left-border {
  width: 181px;
height: 0.5px;
flex-shrink: 0;
background: #C2C2C2;
margin: 10px 0 129px 0;
}
.right-border {
  width: 1420px;
height: 0.5px;
flex-shrink: 0;
background: #C2C2C2;
margin: 10px 0 129px 0;;

}
.border-text {
  color: #C2C2C2;
font-size: 14px;
font-family: Ubuntu;
font-weight: 300;
margin: 0 29px 0;
}


.socialmedia-container {
  display: flex;
  gap: 40px;
  align-items: center;
}
.services-container {
 margin: 0 10% 200px 10%;
 display: flex;
 flex-wrap: wrap;
 gap: 82px 258px;
 
}
.single-service-container {
  display: flex;
  
  max-width: 480px;
}
.service-title {
  color: #000;
font-size: 28px;
font-family: Ubuntu;

}
.service-text {
  color: #B2B2B2;
font-size: 18px;
font-family: Ubuntu;
font-style: normal;
line-height: 1.5;

}
.service-img {
  margin-top: 70px;
  width: 60px;
}
.service-title-text {
  margin-left: 50px;
 width: 400px;
 
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  background: #f7f7f7;
  width: 80%;
  max-width: 1181px;
}

