* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./img/img.jpg);
}

section {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgb(238, 107, 19); 
    max-width: 700px;
    margin: auto; 
    margin-top: 10%;
    border-radius: 5px;
    
}

div {
    margin-bottom: 30px;
    margin-top: 30px;
    
}

