* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(./img/fruts5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    min-width: 300px;
    justify-content: center;
    margin-top: 100px;
}

.cards {
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    width: 190px;
    
}


.btnCart {
    width: 25px;
    height: 25px;
    background: url(./img/btn.png);
    background-size: contain;
    cursor: pointer;
    border: none;
    margin: 2px;
}

.addBasc {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 80%;
}

main {
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;
    

}
.addProductsCard,.header {
    text-align: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    align-items: center;
    box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    padding-bottom: 10px;
} 
.addProductsCard {
    width: 350px;
}

h2 {
    color: #080808;
    font-weight: 900;
font-size: 30px;

}

h4 {
    color: #141410e8;
    font-weight: 500;
    font-size: 25px;
}
.totalPrice,
.totalQuant,
.prdQuant,
.prdPrice,
label {
    color: #141410e8;
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
}


button {
    width: 150px;
    height: 40px;
    box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 15px 9px 8px -4px rgba(0, 0, 0, 0.59);
    border: none;
    border-radius: 5px;
    background: transparent;
    color: #141410e8;
    font-size: 20px;
    cursor: pointer;
    margin: 50px 30px 10px 30px;
    padding: 10px;
}
input {
    border: none;
    height: 30px;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}